<nav class="navbar navbar-expand-lg navbar-dark shadow-5-strong p-2 fixed-top">
    <div class="container-fluid">
        <img src="favicon.ico" class="p-2" width="70" height="auto">
        <a class="navbar-brand" href="http://localhost:4200/">
            <h2 style="color:rgb(0, 0, 0)">Weather Statistics</h2>
        </a>
        <div class="collapse navbar-collapse" id="navbarScroll">
            <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll"></ul>
        </div>
    </div>
</nav>

<!-- <div class="container">
    <div class="row justify-content-centre">
        <div class="col p-5">
            Temperature is something else which is not quite available with me right now
        </div>
    </div>
</div> -->
